<% provide(:title, "Edit user") %> 

<div class="row-fluid">
  <%= page_header("Update your Profile") %>
  <div class="span6 offset3">
  	<div class="well well-large">
  		
	    <%= form_for(@user, :html => { :class => "form-horizontal"} ) do |f| %>
	    	<%= render 'shared/error_messages' %>

		    <div class="control-group">
				<%= f.label :name, class: "control-label" %>
				<div class="controls">
					<%= f.text_field :name, size: nil %>
				</div>
			</div>

			<div class="control-group">
				<%= f.label :email, class: "control-label" %>
				<div class="controls">
					<%= f.text_field :email, size: nil %>
				</div>
			</div>

			<div class="control-group">
				<%= f.label :password, class: "control-label" %>
				<div class="controls">
					<%= f.password_field :password, size: nil %>
				</div>
			</div>

			<div class="control-group">
				<%= f.label :password_confirmation, "Confirm Password", class: "control-label" %>
				<div class="controls">
					<%= f.password_field :password_confirmation, size: nil %>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<%= f.submit "Save changes", class: "btn btn-primary" %>
					<br/><br/>
					<%= gravatar_for @user %>
    				<a href="http://gravatar.com/emails">Change Avatar</a>
				</div>
			</div>
	    <% end %>
		
	</div>
  </div>
</div>